* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
}

ul {
	list-style: none;
}

#container {
	max-width: 1024px;
	margin: 0 auto;
}

.header-inner {
	height: 249px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.burger-icon {
	display: none;
}

.header-logo path{
	transition: 0.3s;
}

.nav-list {
	display: flex;
}

.nav-item {
	margin-right: 80px;
	font-size: 20px;
}

.nav-item:last-child {
	margin-right: 0;
}

.nav-item-link {
	text-decoration: none;
	color:#000;
	transition: 0.3s;
}

.nav-item-link:hover {
	text-shadow: 0 0 15px #6e6464;
}

.carousel {
	margin-bottom: 42px;
}

.carousel img {
	width: 100%;
}

button.slick-next.slick-arrow {
	display: none!important;
}

.story {
	font-size: 28px;
	text-align: center;
	margin-bottom: 42px;
}

.title {
	text-align: center;
	font-size: 40px;
	line-height: 80px;
	text-transform: uppercase;
	border: 1px solid;
	border-color: #000 #fff;
	margin-bottom: 60px;
}

.history-section {
	display: flex;
	justify-content: space-between;
	margin-bottom: 60px;
}

.history-block {
	flex-basis: 48%;
	background-color: #000;
	color: #fff;
	font-size: 18px;
	padding: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}


.count {
	font-size: 48px;
}

.form {
	position: relative;
}

.form-textarea {
	width: 100%;
	resize: none;
	font-size: 18px;
	border: 1px solid #000;
	padding: 49px 260px 49px 31px;
}

.submit {
	position: absolute;
	width: 200px;
	height: 60px;
	top: 50%;
    right: 30px;
    margin-top: -30px;
	background-color: #000;
	color: #fff;
	border-radius: 8px;
	font-size: 28px;
	text-transform: uppercase;
	cursor: pointer;
	transition: 0.3s;
}

.submit:hover {
	text-shadow: 0 0 15px #fff;
}